<header class="header header-page">
   <div class="container">
      <nav class="header-page__nav nav">
         <a class="header-page__logo">
            <img src="./src/img/logo.png" alt="logo">
            <p>Forkio</p>
         </a>
         <div class="hamburger" onclick="burgerMenu(this)">
            <div class="hamburger__line"></div>
            <div class="hamburger__line"></div>
            <div class="hamburger__line"></div>
         </div>


         <ul class="header-page__menu menu">
            <li class="menu__item"><a href="#" class="menu__link">Overview</a></li>
            <li class="menu__item"><a href="#" class="menu__link">About Fork</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Buying Options</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Support</a></li>
         </ul>
         <div>
            <a href="#" class="button-nav button-cta">Buy Now</a>
         </div>
      </nav>
   </div>
</header>
<main>
   <section class="hero">
      <div class="container">
         <p class="hero__title">Fork App</p>
         <p class="hero__subtitle"> A real gamechanger in the world of web development</p>
         <p class="hero__version">v.2.8 For Mac and Windows</p>
      </div>
      <a href="#" class="button-hero button-cta">Download For Free Now</a>
      </div>

   </section>
</main>