<section class="page__price price">
    <div class="container">
        <h3 class="price__title">Fork Subscription Pricing</h3>
        <div class="price__vars var">
           
            <div class="var__item">
                <h3 class="var__item-title">Students</h3>
                <div class="var__item-content">
                    <p class="var__item-price"><span class="var__item-dollar">&#36;</span>29</p>
                    <p class="var__item-permonth">per month</p>
                    <p class="var__item-typeoflicense">Personal License</p>
                    <a class="var__item-purchasebtn" href="#">purchase</a>
                </div>
            </div>
            <div class="var__item">
                <h3 class="var__item-title">professional</h3>
                <div class="var__item-content">
                    <p class="var__item-price"><span class="var__item-dollar">&#36;</span>59</p>
                    <p class="var__item-permonth">per month</p>
                    <p class="var__item-typeoflicense">Professional License Email Support</p>
                    <a class="var__item-purchasebtn" href="#">purchase</a>
                </div>
            </div>
        
           
            <div class="active-item">
                <h3 class=" active-title">agency</h3>
                <div class=" active__item-content">
                    <p class="active__item-price"><span class="var__item-dollar">&#36;</span>99</p>
                    <p class="var__item-permonth">per month</p>
                    <p class="var__item-typeoflicense">1-12 Team Members Phone Support</p>
                    <a class="var__item-purchasebtn" href="#">purchase</a>
                </div>
            </div>
            <div class="var__item sspecial__item">
                
                <h3 class="var__item-title">enterprise</h3>
         
                <div class="var__item-content">
                    <p class="var__item-price"><span class="var__item-dollar">&#36;</span>159</p>
                    <p class="var__item-permonth">per month</p>
                    <p class="var__item-typeoflicense">Unlimited Team Members24/ 7 Phone Support</p>
                    <a class="var__item-purchasebtn" href="#">purchase</a>
                </div>
            </div>
        
        </div>
    </div>
</section>