<section class="testimonials">
   <div class="container">
      <h3 class="testimonials__title title">
         People Are Talking About Fork
      </h3>
      <div class="testimonials__container">
         <div class="testimonials__item">
            <img class="testimonials__icon" src="./dist/img/1.png" alt="logo smashing">
            <p class="testimonials__text">Sed vestibulum scelerisque urna, eu&nbsp;finibus leo facilisis sit amet. Proin
               id&nbsp;dignissim magna. Sed varius urna et&nbsp;pulvinar venenatis. </p>
         </div>
         <div class="testimonials__item">
            <img class="testimonials__icon" src="./dist/img/2.png" alt="logo smashing">
            <p class="testimonials__text">Donec euismod dolor ut&nbsp;ultricies consequat. Vivamus urna ipsum, rhoncus
               molestie neque&nbsp;ac, mollis eleifend nibh. </p>
         </div>
         <div class="testimonials__item">
            <img class="testimonials__icon" src="./dist/img/3.png" alt="logo smashing">
            <p class="testimonials__text">In&nbsp;efficitur in&nbsp;velit et&nbsp;tempus. Duis nec odio dapibus,
               suscipit erat
               fringilla, imperdiet nibh. Morbi tempus auctor felis ac&nbsp;vehicula.</p>
         </div>
         <div class="testimonials__item">
            <img class="testimonials__icon" src="./dist/img/4.png" alt="logo smashing">
            <p class="testimonials__text">Sed vestibulum scelerisque urna, eu&nbsp;finibus leo facilisis sit amet. Proin
               id&nbsp;dignissim magna. Sed varius urna et&nbsp;pulvinar venenatis. </p>
         </div>
         <div class="testimonials__item">
            <img class="testimonials__icon" src="./dist/img/5.png" alt="logo smashing">
            <p class="testimonials__text">Praesent ut&nbsp;eros tristique, malesuada lectus vel, lobortis massa. Nulla
               faucibus lorem id&nbsp;arcu consequat faucibus. </p>
         </div>
         <div class="testimonials__item">
            <img class="testimonials__icon" src="./dist/img/6.png" alt="logo smashing">
            <p class="testimonials__text">Fusce pharetra erat id&nbsp;odio blandit, nec  pharetra eros venenatis.
               Pellentesque porttitor cursus massa et&nbsp;vestibulum. </p>
         </div>


      </div>
      <div class="testimonials__subtext">
         Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis
         nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et
         magnis dis parturient montes, nascetur ridiculus mus.
      </div>
   </div>
</section>