.page__price {
    background-image: url("../../src/img/pricesection/price_mainpic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

}

.price__title {
    font-size: 48px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    font-family: "Montserrat";
    font-weight: bold;
    padding-top: 88px;

    @media  (max-width: 630px) {
        font-size: 28px;
        line-height: 42px;
        
     }
}
.price__vars{
    display: flex;
    column-gap: 20px;
    height: max-content;
    align-items: center;
    margin-top: 112px;
    padding-bottom: 100px;
    position: relative;
    justify-content: center;
    @media  (max-width: 1150px) {
        margin-top: 10px;
        padding-bottom: 200px;
        width: 600px;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        gap: 20px;
        
     }

     @media  (max-width: 630px) {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        
     }
}
.active-item {
    @media  (max-width: 1150px) {
    
    position: absolute;
    left: -8px;
    top: 470px;
        
     }
     @media  (max-width: 630px) {
        position:static;
        
     }
    
   
}
.active-title{
    width: 299px;
    height: 111px;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    vertical-align: center;
    color: #FFFFFF;
    background-color: rgb(59, 37, 61);
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
}

.active__item-content{
    width: 299px;
    height: 449px;
    background-color: rgba(255, 255, 255, 0.11);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(70, 48, 72, 0.84);
    
}
.active__item-price{
    font-size: 82px;
    line-height: 90px;
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    
}
.var__item-content{
    width: 257px;
    background-color: rgba(255, 255, 255, 0.11);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px   ;

}
.var__item-dollar{
    font-weight: normal;
}

.var__item-title {
    text-align: center;
    width: 257px;
    height: 97px;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    vertical-align: center;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.06);
    font-family: "Montserrat";
    display: flex;
    justify-content: center;
    align-items: center;
}

.var__item-price {
    font-size: 60px;
    line-height: 90px;
    font-family: "Montserrat";
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    margin-top: 20px;
}

.var__item-permonth {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    font-family: "Montserrat";
    color: #FFFFFF;
    margin-top: 20px;
    

    &::after{
        content: "";
        display: block;
        background-color: #8D81AC;
        width: 60px;
        height: 5px;
        margin: 0 auto;
        margin-top: 38px;
    }
}

.var__item-typeoflicense {
    font-size: 16px;
    line-height: 18px;
    font-family: "Montserrat";
    color: #FFFFFF;
    margin-top:30px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.var__item-purchasebtn {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 15px;
    font-family: "Montserrat";
    color: #FFFFFF;
    padding: 15px 38px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 20px;
    margin-top: 67px;
    margin-bottom: 37px;
}

.sspecial__item{
    @media  (max-width: 1150px) {
        margin-left: 280px;
     }
     @media  (max-width: 630px) {
        margin-left: unset;
        
     }
}